<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">MANAGE BREED</h1>
        <!-- <button class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i
                class="fas fa-download fa-sm"></i> Download Excel</button> -->
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add Breed</h6>
                </div>
                <div class="card-body">
                    <form class="user" [formGroup]="addNewBreedFrom">
                        <div class="form-group row mb-0">
                            <div class="col-sm-4 mb-3 required">
                                <label class="control-label">Pet Type</label>
                                <select id="BreedType" class="form-control br" formControlName="petCategory">
                                    <option value="0" selected>Select Pet Type</option>
                                    <option value={{pet.catId}} *ngFor="let pet of petCatgData">{{pet.descr}}</option>
                                    <!-- <option value="2">Dog</option> -->
                                </select>
                                <!-- <ng-select (change)="getBreedData($event)" class="form-control br"
                                    formControlName="petCategory" required>
                                    <ng-option value="">Please Select</ng-option>
                                    <ng-option *ngFor="let pet of petCatgData" >{{pet.descr}}</ng-option>
                                </ng-select> -->
                            </div>
                            <div class="col-sm-4 mb-3">
                                <label>Breed Name</label>
                                <input type="text" class="form-control form-control-user" id="BreedName"
                                    formControlName="breedName" placeholder="Enter Breed Name">
                            </div>

                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button *ngIf="!showUpdateSubmitButton" (click)="addBreed()" type="submit"
                        [disabled]="!addNewBreedFrom.valid" class="btn shadow-sm btn-primary btn-user mr-2"> <i
                            class="fas fa-paper-plane"></i>
                        Submit</button>
                    <button *ngIf="showUpdateSubmitButton" (click)="updateBreedData()" type="submit"
                        [disabled]="!addNewBreedFrom.valid" class="btn shadow-sm btn-primary btn-user mr-2"> <i
                            class="fas fa-paper-plane"></i>
                        Submit</button>
                    <button (click)="resetForm()" type="submit" class="btn shadow-sm btn-secondary btn-user "> <i
                            class="fas fa-retweet"></i>
                        Reset</button>
                </div>
            </div>
            <div class="card shadow mb-3">
                <div class="card-header py-3">

                    <form class="d-none d-sm-inline-block form-inline">
                        <div class="input-group">
                            <div class="input-group-append">
                                <button class="btn shadow-sm btn-primary btnshow" type="button">
                                    Show:
                                </button>
                            </div>
                            <select id="numbershow" class="form-control br" (change)="listItemVal($event)">
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                    </form>

                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right">
                        <div class="input-group">
                            <input [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn shadow-sm btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                            *ngIf="this.breedList">
                            <thead class="table-heading">
                                <tr>
                                    <th scope="col">SR.</th>
                                    <th scope="col">PET TYPE</th>
                                    <th scope="col">BREED</th>
                                    <th scope="col">EDIT</th>
                                    <th scope="col">DELETE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let data of breedList | breedSearch: searchText | paginate :{itemsPerPage:showListItem,currentPage:p};">
                                    <td>{{data.id}}</td>
                                    <td>{{data.breedName}}</td>
                                    <td>{{data.petName}}</td>
                                    <td (click)="selectBreedToEdit(data)" class="text-center"><button
                                            class="btn shadow-sm btn-warning btn-circle btn-sm"><i
                                                class="fas fa-edit"></i></button></td>
                                    <td (click)="deleteBreed(data)" class="text-center">
                                        <button class="btn shadow-sm btn-danger btn-circle btn-sm"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event" class="floatRight"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- End Content Row -->

</div>
<!-- /.container-fluid -->