<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Reset Password</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                </div>
                <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="line-scale-party">
                    <p style="color: white">Please Wait. </p>
                </ngx-spinner>
                <div class="card-body">
                    <form class="user" [formGroup]="chngPassForm">
                        <div class="form-group row mb-0">
                            <div class="col-sm-4 mb-3 required">
                                <label class="control-label">Current Password</label>
                                <div class="input-group">
                                    <input formControlName="currPassword" type="password"
                                        class="form-control form-control-user" id="password1"
                                        placeholder="Enter Password">
                                    <div class="input-group-append">
                                        <button class="btn shadow-sm btn-primary" type="button">
                                            <i class="fas fa-eye-slash" id="eye1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 required">
                                <label class="control-label">New Password</label>
                                <div class="input-group">
                                    <input formControlName="newPassword" type="password"
                                        class="form-control form-control-user" id="password2"
                                        placeholder="Enter Password">
                                    <div class="input-group-append">
                                        <button class="btn shadow-sm btn-primary" type="button">
                                            <i class="fas fa-eye-slash" id="eye2"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 required">
                                <label class="control-label">Confirm New Password</label>
                                <div class="input-group">
                                    <input formControlName="confrmPass" type="password"
                                        class="form-control form-control-user" id="password3"
                                        placeholder="Enter Password">
                                    <div class="input-group-append">
                                        <button class="btn shadow-sm btn-primary" type="button">
                                            <i class="fas fa-eye-slash" id="eye3"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submit()" [disabled]="!chngPassForm.valid"  type="submit" class="btn shadow-sm btn-primary btn-user mr-2"> <i
                            class="fas fa-paper-plane"></i> Submit</button>
                    <button (click)="reset()" type="submit" class="btn shadow-sm btn-secondary btn-user "> <i class="fas fa-retweet"></i>
                        Reset</button>
                </div>
            </div>

        </div>

    </div>
    <!-- End Content Row -->

</div>
<!-- /.container-fluid -->