                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-2">
                        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">RAISE COMPLAINT</h1>
                        <!-- <button class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-download fa-sm"></i> Download Excel</button> -->
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                    <div class="col-xl-12 col-md-12 mb-4">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Personal Details</h6>
                        </div>
                        <div class="card-body">
                            <form class="user">
                                <div class="form-group row mb-0">
                                   
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Name of Complainer </label>
                                        <input type="text" class="form-control form-control-user"
                                            id="ComplainerName" placeholder="Name Of Complainer">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Reason</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="Reason" placeholder="Reason">
                                    </div>
                                    <div class="col-sm-4 mb-3 ">
                                        <label class="control-label">Details of Complainer</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="ComplainerDetails" placeholder="Details Of Complainer">
                                    </div>
                                    <div class="col-sm-12 mb-2 ">
                                        <label class="control-label">Address</label><br>
                                        <div class="form-check form-check-inline">
                                            <input [(ngModel)]="selectedSection" class="form-check-input high-rise-society" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">High-Rise Society</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input [(ngModel)]="selectedSection" class="form-check-input village" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Village</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input [(ngModel)]="selectedSection" class="form-check-input residence" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                            <label class="form-check-label" for="inlineRadio3">Residence</label>
                                          </div>
                                    </div>
                                    <div *ngIf="selectedSection === 'option3'" class="col-sm-4 mb-3" >
                                        <label class="control-label">House No/Flat No/Plot No</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="HouseNumber" placeholder="House No/Flat No/Plot No">
                                    </div>
                                    
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Sector Number</label>
                                        <select id="UnitName" class="form-control br">
                                            <option value="0" selected disabled>Select Sector</option>
                                            <option value="1">Sector 1</option>
                                            <option value="2">Sector 2</option>
                                            <option value="3">Sector 3</option>
                                          </select>
                                    </div>
                                    <div *ngIf="selectedSection === 'option1'" class="col-sm-4 mb-3">
                                        <label class="control-label">Society Name</label>
                                        <select id="UnitName" class="form-control br">
                                            <option value="0" selected disabled>Select Society</option>
                                            <option value="1">Amarpali Sphere</option>
                                            <option value="2">Mahagun </option>
                                            <option value="3">Noida</option>
                                          </select>
                                    </div>
                                    <div *ngIf="selectedSection === 'option2'" class="col-sm-4 mb-3">
                                        <label class="control-label">Village Name</label>
                                        <select id="UnitName" class="form-control br">
                                            <option value="0" selected disabled>Select Village</option>
                                            <option value="1">Village 1</option>
                                            <option value="2">Village 2</option>
                                            <option value="3">Village 3</option>
                                          </select>
                                    </div>
                                    <div *ngIf="selectedSection === 'option3'" class="col-sm-4 mb-3" >
                                        <label class="control-label">Street</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="HouseNumber" placeholder="House No/Flat No/Plot No">
                                    </div>
                                    <div *ngIf="selectedSection === 'option2' || selectedSection === 'option3'" class="col-sm-4 mb-3">
                                        <label class="control-label">Block</label>
                                        <select id="UnitName" class="form-control br">
                                            <option value="0" selected disabled>Select Block</option>
                                            <option value="1">A</option>
                                            <option value="2">B</option>
                                            <option value="3">C</option>
                                          </select>
                                    </div>
                                    <div *ngIf="selectedSection === 'option2' || selectedSection === 'option3'" class="col-sm-4 mb-3">
                                        <label>Landmark </label>
                                        <input type="text" class="form-control form-control-user"
                                            id="TowerNumber" placeholder="Landmark">
                                    </div>
                                    <div *ngIf="selectedSection === 'option1'" class="col-sm-4 mb-3">
                                        <label class="control-label">Tower Number </label>
                                        <input type="text" class="form-control form-control-user"
                                            id="TowerNumber" placeholder="Tower Number">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Address Line 1</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="Reason" placeholder="Address Line 1 ">
                                    </div>
                                    <div *ngIf="selectedSection === 'option1'" class="col-sm-4 mb-3">
                                        <label class="control-label">Flat No</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="Reason" placeholder="Flat No">
                                    </div> <div class="col-sm-4 mb-3">
                                        <label class="control-label">Pin Code</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="Reason" placeholder="Address Line 1 ">
                                    </div>
                                    <div class="card-header py-3 w-100 mb-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Pet Details</h6>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Owner Name</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="OwnerName" placeholder="Owner Name">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Pet Name</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="PetName" placeholder="Pet Name">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Pet Type</label>
                                        <select id="UnitName" class="form-control br">
                                            <option value="0" selected disabled>Select Pet Type</option>
                                            <option value="1">Dog </option>
                                            <option value="2">Cat</option>
                                          </select>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Breed</label>
                                        <select id="UnitName" class="form-control br">
                                            <option value="0" selected disabled>Select Breed</option>
                                            <option value="1">Breed 1</option>
                                            <option value="2">Breed 2</option>
                                            <option value="3">Breed 3</option>
                                          </select>
                                    </div>
                                    <div class="card-header py-3 w-100 mb-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Pet Photos (File: JPG, JPEG, PNG, PDF) (Size: Max 10MB) (Ratio: 300px*300px)</h6>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Upload Photo 1</label>
                                        <input type="file" class="form-control form-control-user"
                                            id="phot1" placeholder="Choose file">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Upload Photo 2</label>
                                        <input type="file" class="form-control form-control-user"
                                            id="phot1" placeholder="Choose file">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Upload Photo 3</label>
                                        <input type="file" class="form-control form-control-user"
                                            id="phot1" placeholder="Choose file">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Upload Photo 4</label>
                                        <input type="file" class="form-control form-control-user"
                                            id="phot1" placeholder="Choose file">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn shadow-sm btn-primary btn-user"> <i class="fas fa-paper-plane"></i> Submit</button>                           
                        </div>
                    </div>
                    </div>

                    </div>
                    <!-- End Content Row -->

                </div>
                <!-- /.container-fluid -->