<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-end mb-2">
    <button *ngIf="this.parentData['page'] !== 'inbox' " [routerLink]="['/'+ this.parentData['page']]"
      class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-2"><i class="fas fa-arrow-left fa-sm"></i>
      Go Back</button>

      <button *ngIf="this.parentData['page']=='inbox' " [routerLink]="['/inbox']"
      class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-2"><i class="fas fa-arrow-left fa-sm"></i>
      Go Back</button>

    <button (click)="getAction('true')" *ngIf="this.parentData['page']=='inbox' && disableButton "
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2"><i
        class="fas far fa-check-square fa-sm"></i> Approve</button>
    <button (click)="getAction('false')" *ngIf="this.parentData['page']=='inbox' && disableButton "
      class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm mr-2"><i
        class="fas far fa-window-close fa-sm"></i> Reject</button>
  </div>
  <!-- Content Row -->
  <div class="row">
    <div class="col-md-12 mb-0">
      <!-- DataTales Example -->
      <div class="card shadow mb-2">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="line-scale-party">
          <p style="color: white">Please Wait. </p>
        </ngx-spinner>
        <div class="card-body profile" *ngIf="this.userDetail">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Form Id: </p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.formId}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Transaction Id:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.transId}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Pet Registered Date:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.petRegDate}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Owner Name:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.ownerCustName}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Owner Number:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.ownerNo}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Pet Type:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.petType }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Pet Name:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.petName}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Breed:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.breed}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Pet Gender: </p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.petGender}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Amount:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.amount}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Address:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.address}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Pet Age:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.petAge}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Payment Status:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.paymentStatus}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Rabies Vaccination Date:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.rabbiesVacinationDate}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0 font-weight-bold">Next Due Date Rabies Vaccination:</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{this.userDetail.nextDueDateRabbies}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p *ngIf="this.naprUserDetail['response'].userType == 'AD' " class="mb-0 font-weight-bold">Staff
                        Remark:</p>
                      <p *ngIf="this.naprUserDetail['response'].userType == 'SD' " class="mb-0 font-weight-bold">Admin
                        Remark:</p>
                    </div>
                    <div class="col-sm-8">
                      <p *ngIf="this.naprUserDetail['response'].userType == 'AD' " class="text-muted mb-0">
                        {{this.userDetail.staffRemark}}</p>
                      <p *ngIf="this.naprUserDetail['response'].userType == 'SD' " class="text-muted mb-0">
                        {{this.userDetail.adminRemark}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12 mb-2" *ngIf="this.userDetail">
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Images</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <section class="gallery-block grid-gallery">
                <h6 class="mb-1 font-weight-bold text-primary">Pets Images</h6>
                <div class="row pl-2">
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.petImages1}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.petImages1}}>
                    </a>
                    <label>Photo</label>
                  </div>
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.petImages2}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.petImages2}}>
                    </a>
                    <label>Pet With Owner</label>
                  </div>
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.petImages3}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.petImages3}}>
                    </a>
                    <label>Photo</label>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="gallery-block grid-gallery">
                <h6 class="mb-1 font-weight-bold text-primary">Owner Images</h6>
                <div class="row pl-2">
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.ownerImages2}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.ownerImages2}}>
                    </a>
                    <label>Photo Id</label>
                  </div>
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.ownerImages3}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.ownerImages3}}>
                    </a>
                    <label>Photo</label>
                  </div>
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.ownerImages5}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.ownerImages5}}>
                    </a>
                    <label>Sign</label>
                  </div>
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.ownerImages1}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.ownerImages1}}>
                    </a>
                    <label>Address Proof</label>
                  </div>
                  <div class="col-md-6 col-lg-2 item text-center">
                    <a class="lightbox" target="_blank" href={{imageUrl}}{{this.userDetail.ownerImages4}}>
                      <img class="img-fluid image scale-on-hover" src={{imageUrl}}{{this.userDetail.ownerImages4}}>
                    </a>
                    <label>Vaccination Book</label>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End Content Row -->

  <div class="modal fade" id="actionModel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Remarks</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="user" [formGroup]="actionForm">
            <div class="form-group row mb-0">
              <div class="col-sm-12 mb-3">
                <label>Remarks</label>
                <textarea formControlName="reamrksText" class="form-control form-control-user" id="notification"
                  placeholder="Enter Remarks.........." rows="3"></textarea>
              </div>
            </div>

          </form>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn shadow-sm shadow-sm btn-danger" data-dismiss="modal">Close</button>
          <button (click)="submit()" [disabled]="!actionForm.valid" type="button"
            class="btn shadow-sm shadow-sm btn-primary">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<!-- /.container-fluid -->